<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3, user-scalable=yes">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <!--bulma link-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- -->
    <title>연수구 가치봉사</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>

    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&display=swap" rel="stylesheet">


    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <script>
        //정규식 --> 입력 받은 값이 형식에 맞는지 확인
        function is_nickname(asValue) {
            var regExp = /^(?=.*[a-zA-Z])[-a-zA-Z0-9_.]{2,10}$/;
            return regExp.test(asValue);
        }

        function is_password(asValue) {
            var regExp = /^(?=.*\d)(?=.*[a-zA-Z])[0-9a-zA-Z!@#$%^&*]{8,20}$/;
            return regExp.test(asValue);
        }

        //아이디 중복확인
        function check_dup() {
            let username = $("#input-username").val()
            console.log(username)
            if (username == "") {
                $("#help-id").text("아이디를 입력해주세요.").removeClass("is-safe").addClass("is-danger")
                $("#input-username").focus()
                return;
            }
            if (!is_nickname(username)) {
                $("#help-id").text("영문과 숫자,일부 특수문자(._-)만 사용가능. 2-10자 길이").removeClass("is-safe").addClass("is-danger")
                $("#input-username").focus()
                return;
            }

            $("#help-id").addClass("is-loading")
            // 서버에 username 전달
            $.ajax({
                type: "POST",
                url: "/sign_up/check_dup",
                data: {
                    username_give: username
                },
                success: function (response) {
                    //서버로 받은 응답값에 따라 텍스트 변화서 시켜서 화면에 표시.
                    if (response["exists"]) {
                        $("#help-id").text("이미 존재하는 아이디입니다.").removeClass("is-safe").addClass("is-danger")
                        $("#input-username").focus()
                    } else {
                        $("#help-id").text("사용할 수 있는 아이디입니다.").removeClass("is-danger").addClass("is-success")
                    }
                    $("#help-id").removeClass("is-loading")

                }
            });
        }


        //회원가입 완료후 로그인 모달창 열기
        function sign_up() {
            // 회원가입 모달창 input에서 username,password 받고 저장
            let username = $("#input-username").val()
            let password = $("#input-password").val()
            let password2 = $("#input-password2").val()
            console.log(username, password, password2)
            //
            if ($("#help-id").hasClass("is-danger")) {
                alert("아이디를 다시 확인해주세요.")
                return;
            } else if (!$("#help-id").hasClass("is-success")) {
                alert("아이디 중복확인을 해주세요.")
                return;
            }
            // 정규식에 맞는지 확인후 메시지 전달
            if (password == "") {
                $("#help-password").text("비밀번호를 입력해주세요.").removeClass("is-safe").addClass("is-danger") //
                $("#input-password").focus()
                return;
            } else if (!is_password(password)) {
                $("#help-password").text("영문과 숫자 필수 포함, 특수문자(!@#$%^&*) 사용가능. 8-20자").removeClass("is-safe").addClass("is-danger")
                $("#input-password").focus()
                return
            } else {
                $("#help-password").text("사용할 수 있는 비밀번호입니다.").removeClass("is-danger").addClass("is-success")
            }
            if (password2 == "") {
                $("#help-password2").text("비밀번호를 입력해주세요.").removeClass("is-safe").addClass("is-danger")
                $("#input-password2").focus()
                return;
            } else if (password2 != password) {
                $("#help-password2").text("비밀번호가 일치하지 않습니다.").removeClass("is-safe").addClass("is-danger")
                $("#input-password2").focus()
                return;
            } else {
                $("#help-password2").text("비밀번호가 일치합니다.").removeClass("is-danger").addClass("is-success")
            }
            // 서버쪽으로 username, password 전달 후 로그인 모달창 표시
            $.ajax({
                type: "POST",
                url: "/sign_up/save",
                data: {
                    username_give: username,
                    password_give: password
                },
                success: function (response) {
                    alert("회원가입을 축하드립니다!")
                    $("#sign-up-modal").removeClass("is-active")
                    $("#login-modal").addClass("is-active")
                }
            });

        }

        // 로그인
        function sign_in() {
            //아이디, 비밀번호 입력한 값 읽어옴
            let username = $("#login-input-username").val()
            let password = $("#login-input-password").val()

            //아이디, 패스워드 값이 빈 값이면 입력해달라고 alert띄우고 그게 아니라면 서버쪽에 검증 요청함
            if (username == "") {
                $("#help-id-login").text("아이디를 입력해주세요.")
                $("#input-username").focus()
                return;
            } else {
                $("#help-id-login").text("")
            }

            if (password == "") {
                $("#help-password-login").text("비밀번호를 입력해주세요.")
                $("#input-password").focus()
                return;
            } else {
                $("#help-password-login").text("")
            }
            //아이디, 패스워드가 입력되었다면 sign_in이라는 url주소로 각 data를 보내줌
            $.ajax({
                type: "POST",
                url: "/sign_in",
                data: {
                    username_give: username,
                    password_give: password
                },
                //서버로 보낸 검증이 통과되었다면 검증 받은 사람의 아이디, 유효한 시간과 함께 token을 받아서
                //브라우저에 쿠키로 저장하고 mainpage로 이동, 그게 아니라면 alert를 띄우줌
                success: function (response) {
                    if (response['result'] == 'success') {
                        $.cookie('mytoken', response['token'], {path: '/'});
                        $("#sign-up-modal").removeClass("is-active")
                        window.location.replace("/mainpage")
                    } else {
                        alert(response['msg'])
                    }
                }
            });

        }

        function enterkey_login() {
            if (window.event.keyCode == 13) {
                sign_in()
            }
        }

        //회웝가입 모달찰 표시
        function Open_signup() {
            $("#sign-up-modal").addClass("is-active")
        }

    </script>

    <style>
        * {
            margin: 0;
            padding: 0;
        }

        html, body {
            height: 100%;
        }

        body {
            width: 100%;
            height: 100%;
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
        }

        .page-wrap {
            margin: 0;
            height: 800px;
            /* border: 2px solid red; */
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .page-header {
            height: 400px;
            width: 700px;
            /* border: 2px solid blue; */
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }

        .page-footer {
            width: 100%;
            height: 200px;
            background-color: gray;
        }

        .img-main {
            width: 550px;
            height: 650px;

        }

        .img-hand {
            width: 70px;
        }

        .btn-container {
            width: 400px;
            height: 50px;
            /* background-color: red; */
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

        }

        .btn-login,
        .btn-sign-in {
            background-color: #fc6960;
            color: white;
            width: 140px;
            height: 35px;
            border-radius: 15px;
            border: none;
            font-size: 16px;
        }

        .page-title {
            font-family: 'Jua', sans-serif;
            font-size: 75px;
        }

        .page-desc {
            /* border: 1px solid darkcyan; */
            font-size: 18px;
            line-height: 30px;
            font-family: 'Nanum Gothic', sans-serif;
            margin-bottom: 50px;
        }

        .font-yellow {
            color: #f8d857;
        }

        .font-green {
            color: #79bb5c;
        }

        .field-sign-in {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .sign-in-btn {
            flex-basis: 50%;
            flex-grow: 1;
        }
    </style>

</head>
<body>
<div class="container">
    <section class="page-wrap">
        <header class="page-header">
            <h1 class="page-title">
                <span class="font-yellow">연수구</span> <span class="font-green">가치봉사</span>
                <img class="img-hand" src="../static/main-img2.jpg" alt="손하트이미지">
            </h1>
            <p class="page-desc">
                현재 모집중인 인천 연수구의 봉사활동 리스트와 상세페이지를 제공합니다.<br>
                나만의 PAGE 관리도 가능하니 관심있는 봉사활동은 스크랩하고 총 봉사시간도 체크하세요.
            </p>
            <div class="btn-container">
                <button class="btn-login" onclick='$("#login-modal").addClass("is-active")'>로그인</button>
                <button class="btn-sign-in" onclick="Open_signup()">회원가입</button>
            </div>
        </header>
        <img class="img-main" src="../static/main-img1.jpg" alt="메인이미지">
    </section>
</div>


<div class="middle-position">
    <div>
        {#        로그인 회원가입 모달창#}
        <div class="modal" id="sign-up-modal">
            <div class="modal-background" onclick='$("#sign-up-modal").removeClass("is-active")'></div>
            <div class="modal-content"></div>
            <div>
                <button class="modal-close is-large" aria-label="close"
                        onclick='$("#sign-up-modal").removeClass("is-active")'></button>
            </div>

            <section class="section">
                <div class="container">
                    <div class="box" style="max-width: 480px;margin:auto">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <div class="field has-addons">
                                        <div class="control has-icons-left" style="width:100%">
                                            <input id="input-username" class="input" type="text" placeholder="아이디">
                                            <span class="icon is-small is-left"><i class="fa fa-user"></i></span>
                                        </div>
                                        <div id="btn-check-dup" class="control">
                                            <button class="button is-sparta" onclick="check_dup()">중복확인</button>
                                        </div>
                                    </div>
                                    <p id="help-id" class="help">아이디는 2-10자의 영문과 숫자와 일부 특수문자(._-)만 입력 가능합니다.</p>
                                    <div>
                                        <div class="control">
                                            <input id="input-password" class="input" type="password" placeholder="비밀번호">
                                        </div>
                                        <p id="help-password" class="help">영문과 숫자 조합의 8-20자의 비밀번호를 설정해주세요.<br>
                                            특수문자(!@#$%^&*) 사용 가능</p>
                                    </div>
                                    <div class="field">
                                        <div class="control" style="width:100%">
                                            <input id="input-password2" class="input" type="password"
                                                   placeholder="비밀번호 재입력">
                                        </div>
                                        <p id="help-password2" class="help">비밀번호를 다시 한 번 입력해주세요.</p>
                                    </div>

                                    <div class="field field-sign-in">
                                        <button class="button sign-in-btn" onclick="sign_up()">
                                            회원가입
                                        </button>
                                        <button class="button sign-in-btn"
                                                onclick='$("#sign-up-modal").removeClass("is-active")'>
                                            취소
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
        </div>

        <div class="modal" id="login-modal">
            <div class="modal-background" onclick='$("#login-modal").removeClass("is-active")'></div>
            <div class="modal-content" style="max-width: 480px;margin:auto">
                <div class="box">
                    <article class="container">
                        <div class="media-content">
                            <div class="field">
                                <div class="field has-addons">
                                    <div class="control has-icons-left" style="width:100%">
                                        <input id="login-input-username" class="input" type="text"
                                               placeholder="아이디">
                                        <span class="icon is-small is-left"><i class="fa fa-user"></i></span>
                                    </div>
                                </div>
                                <p id="help-id-login" class="help is-danger"></p>
                                <div class="field ">
                                    <div class="control has-icons-left">
                                        <input id="login-input-password" class="input" type="password"
                                               onkeyup="enterkey_login()"
                                               placeholder="비밀번호">
                                        <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
                                    </div>
                                </div>
                                <p id="help-password-login" class="help is-danger"></p>
                            </div>
                            <div id="div-sign-in-or-up" class="has-text-centered">
                                <nav class="level">
                                    <button id="login-btn" class="level-item button is-sparta" onclick="sign_in()">
                                        로그인
                                    </button>
                                </nav>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"
                onclick='$("#login-modal").removeClass("is-active")'></button>

    </div>

</div>

<footer class="page-footer">
</footer>
</body>
</html>